# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Data and outputs
data1/
input/
output/

# IDE and OS files
.vscode/
*.swp
.DS_Store

# Python packaging
*.egg-info/
dist/
build/

# Large binaries
*.pyd
*.so
*.dll
*.exe

# Logs
.log
.env